<!-- 导航栏设计 -->
<nav>
	<div style="padding:10px;">
		<a href="/" style="border-bottom-style:none;"><img src="/assets/blog-images/head-pic.jpg" style="width:220px;"/></a>
	</div>
	<div style="color:#FFF;font-size:24px;padding:10px;">
		<b>WsztRush's Blog</b>
		<ul style="padding-left:0px;list-style-type:none;">
			{% for cat in site.categories %}
			<li>
			<a href="{{ site.baseurl }}/categories/{{ cat[0] }}">{{ cat[0] }} x {{ cat | last | size }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</nav>
