<!-- 引入CSS/JS -->
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
	<script type="text/javascript" src="/assets/javascripts/main.js"></script>

	<!-- code -->
	<link rel="stylesheet" type="text/css" href="/assets/css/pygments.css"/>
	<!-- google代码高亮 -->
	<script src="http://blog.codinglabs.org/assets/vendor/google-code-prettify/prettify.js"></script>
	<link href="http://blog.codinglabs.org/assets/vendor/google-code-prettify/prettify-solarized-dark.css" rel="stylesheet">
</head>
