<div id="bar" class="category" style="left:-165px;">
	<div class="icon"><a href="{{ site.baseurl }}/about/"><img src="http://7xiz10.com1.z0.glb.clouddn.com/me.png"/></a></div>
	<div class="icon"><a href="{{ site.baseurl }}/categories.html"><img src="http://7xiz10.com1.z0.glb.clouddn.com/list.png"/></a></div>
	<div class="icon"><a href="https://github.com/wsztrush"><img src="http://7xiz10.com1.z0.glb.clouddn.com/github.png"/></a></div>
	<div class="icon"><a href="http://weibo.com/wsztrush"><img src="http://7xiz10.com1.z0.glb.clouddn.com/weibo.png"/></a></div>
	<div class="icon"><img id="barClick" src="http://7xiz10.com1.z0.glb.clouddn.com/right.png"/></div>
</div>

<div class="tool">
	<span><b>WsztRush</b></span>
	<div class="links">
		<a href="{{ site.baseurl }}">Blog</a>
		<a href="{{ site.baseurl }}/categories.html">Categories</a>
		<a href="{{ site.baseurl }}/about/">About</a>		
	</div>
</div>
