<!DOCTYPEhtmlPUBLIC"-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
	{% include head.html %}
	<body onload="prettyPrint()">
		{% include bar.html %}
		<div class="post-container">
			<div style="padding:40px;">
				<h1>{{ page.title }}</h1>
				{{ content }}
				<!-- 评论组件 -->
				<div id="disqus_thread"/>
			</div>
		</div>
	</body>
</html>
<!-- 评论组件 -->
<script type="text/javascript">
	var disqus_shortname = 'wsztrush';
	(function() {
		var dsq = document.createElement('script');
		dsq.type = 'text/javascript';
		dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
{% include statistical.html %}
