<!DOCTYPEhtmlPUBLIC"-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
	{% include head.html %}
	<body onload="prettyPrint()">
		{% include tool.html %}
		<div class="post-container">
			<h1>{{ page.title }}</h1>
			{{ content }}
			<!-- 评论组件 -->
			<div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}"  data-url="{{ page.url }}"></div>
			<!-- 评论组件 -->
			<div id="disqus_thread"/>
		</div>
	</body>
</html>
<!-- 评论组件 -->
<script type="text/javascript">
	var disqus_shortname = 'wsztrush';
	(function() {
		var dsq = document.createElement('script');
		dsq.type = 'text/javascript';
		dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<!-- 多说公共JS代码-->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wsztrush"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>

{% include statistical.html %}

