<!DOCTYPEhtmlPUBLIC"-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
	<head>
		<script type="text/javascript" src="http://cdn.bootcss.com/reveal.js/3.0.0/js/reveal.min.js"></script>
	</head>
	<body>
		<section data-markdown>
		  ## Markdown support

		  Write content using inline or external Markdown.
		  Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
		</section>
	</body>
</html>
<script>
//在这里对幻灯片进行配置
Reveal.initialize({
	// 是否显示右下角的方向盘
	controls: true,
	// 是否显示页面底部的进度条
	progress: true,
	// 是否开启快捷键
	keyboard: true,
	// 是否支持概览模式
	overview: true,
	// 是否自动居中
	center: true,
	// 是否循环显示幻灯片
	loop: false,
	// Change the presentation direction to be RTL
	rtl: false,
	// Number of milliseconds between automatically proceeding to the
	// next slide, disabled when set to 0, this value can be overwritten
	// by using a data-autoslide attribute on your slides
	autoSlide: 0,
	// 是否支持鼠标滚轮
	mouseWheel: false,
	// 是否支持链接的3D反转
	rollingLinks: true,
	// 翻页效果
	transition: 'default', // default/cube/page/concave/zoom/linear/fade/none
	// 翻页速度
	transitionSpeed: 'default', // default/fast/slow
});
</script>
